/* GLOBAL */

.bottom-space {
	margin-bottom: 80px;
}

.ad-content {
	overflow-x: scroll;
}

.ad-content ul:not(.browser-default), ul:not(.browser-default) li {
	padding-left: revert;
	list-style-type: disc;
}

.responsive-img {
	width: 100%;
}

#gallery .col {
	padding: 0px;
}

/* ONE LINE COLLECTION */

.collection.one-line .avatar {
	min-height: 63px;
}

.collection.one-line .collection-item .title {
	line-height: 3rem;
	font-size: 18px;
}

/* EMPTY TEMPLATE */

.middle-center {
	padding: 150px 40px 0px 40px;
}
