.collection-item .subtitle {
	font-size: smaller;
}

.collection-item .circle {
	border-radius: 0px;
}

.bottom-space {
	margin-bottom: 80px;
}

.ad-title {
	font-size: larger;
	font-weight: bold;
}

.ad-content {
	overflow-x: scroll;
}

.collection {
    border: 0px;
}

.responsive-img {
	width: 100%;
}