<div class="row">
	<div class="col s12 center">
		<h1 class="black-text">Anuncio no encontrado</h1>
		<i class="material-icons large">sentiment_very_dissatisfied</i>
		<p>Lamentablemente, el anuncio que buscas ha expirado o no existe en nuestro sistema. Revisa la lista de anuncios y escoge otro.</p>
		<a class="waves-effect waves-light btn piropazo-color" href="#!" onclick="apretaste.send({'command':'ANUNCIOS LIST'})">Ver anuncios</a>
	</div>
</div>
